* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;

}
:root {
    --bird-x: 0%;
    --bird-y: 0%;
}

.clouds {
    width: 300px;
    position: absolute;
    animation: clouds-animation 20s infinite linear;
    pointer-events: none;
}

.bird {
    width: 50px !important;
    margin-top: 30px;
    /*  animation: bird-animation 15s infinite alternate-reverse linear; */
    position: absolute;
    top: var(--bird-y);
    left: var(--bird-x);
    transition: 350ms ease;

}

@keyframes bird-animation {
    from {
        right: 0;
    }

    to {
        right: 100%;
    }
}

.dScore {
    font-size: 20pt;
    position: absolute;
    font-weight: 500px;
    color: white;

}

.mario {
    width: 120px;
    position: absolute;
    bottom: 0;
    pointer-events: none;
}

.jump {
    animation: jump 700ms ease-out;
}

.dScore {
    pointer-events: none;
}

.view {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
    border-bottom: 8px solid #266926;
    cursor: pointer;
}

.pipe {
    margin: 0;
    padding: 0px;
    width: 80px;
    position: absolute;
    bottom: 0px;
    animation: pipe-animation 1.5s infinite linear;
    pointer-events: none;
}


.button1 {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    font-size: 20px;
    border: 0px;
    cursor: pointer;
}

.gameOverMsg {
    display: grid;
    place-content: center;
    min-height: 500px;
    cursor: default;
    color: white;
    align-content: space-around;
    background: linear-gradient(45deg, #bf5f5f85, transparent);
    font-size: 3em;
}

.d-none {
    display: none;
}

@keyframes clouds-animation {
    from {
        right: -300px;
    }

    to {
        right: 100%;
    }
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0px;
    }

    40% {
        bottom: 140px;
    }

    50% {
        bottom: 140px;
    }

    60% {
        bottom: 140px;
    }

    100% {
        bottom: 0px;
    }
}